# Store Data ETL
## Extract, clean and load store data to sales DB in SQL

In [1]:
import sys
sys.path.append('/Users/ronakasher/Deepa/multinational_retail_data_centralisation')

In [2]:
from source_code.database_utils import DatabaseConnector
from source_code.data_extraction import DataExtractor
from source_code.data_cleaning import DataCleaning
from source_code.data_extraction import header
import pandas as pd
import requests

## Extract store data from API using DataExtractor class in source code

In [3]:
#List number of stores in store data
extractor = DataExtractor()
number_of_stores_endpoint = 'https://aqj7u5id95.execute-api.eu-west-1.amazonaws.com/prod/number_stores'
number_of_stores = extractor.list_number_of_stores(number_of_stores_endpoint,header)

Number of stores: 451

In [4]:
#Extract store data saving as Dataframe
store_endpoint = 'https://aqj7u5id95.execute-api.eu-west-1.amazonaws.com/prod/store_details/'
store_data = extractor.retrieve_stores_data(store_endpoint,number_of_stores,header)

In [5]:
store_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 451 entries, 0 to 450
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          451 non-null    int64
 1   address        451 non-null    object
 2   longitude      451 non-null    object
 3   lat            11 non-null     object
 4   locality       451 non-null    object
 5   store_code     451 non-null    object
 6   staff_numbers  451 non-null    object
 7   opening_date   451 non-null    object
 8   store_type     451 non-null    object
 9   latitude       450 non-null    object
 10  country_code   451 non-null    object
 11  continent      451 non-null    object
dtypes: int64(1), object(11)
memory usage: 42.4+ KB

## Clean store data using DataCleaning class in source code

In [6]:
#Clean store data
clean_store_data = DataCleaning().clean_store_data(store_data)

In [7]:
#Remove Null rows in cleaned data
clean_store_data.dropna(how='all')
clean_store_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 449 entries, 0 to 450
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   address        449 non-null    object
 1   longitude      440 non-null    string
 2   lat            9 non-null      object
 3   locality       441 non-null    object
 4   store_code     441 non-null    string
 5   staff_numbers  449 non-null    int64
 6   opening_date   441 non-null    object
 7   store_type     449 non-null    object
 8   latitude       440 non-null    string
 9   country_code   441 non-null    string
 10  continent      441 non-null    string
dtypes: int64(1), object(5), string(5)
memory usage: 42.1+ KB

## Upload to SQL sales DB

In [9]:
#Upload to sales_data DB (SQL)
upload = DatabaseConnector('../db_creds.yaml')
upload.upload_to_db(clean_store_data,'dim_store_details')

449