# Store Data ETL
## Extract, clean and load store data to sales DB in SQL

In [1]:
import sys
sys.path.append('/Users/ronakasher/Deepa/multinational_retail_data_centralisation')

In [2]:
from source_code.database_utils import DatabaseConnector
from source_code.data_extraction import DataExtractor
from source_code.data_cleaning import DataCleaning
from source_code.data_extraction import header
import pandas as pd
import requests

## Extract store data from API using DataExtractor class in source code

In [3]:
#List number of stores in store data
extractor = DataExtractor()
number_of_stores_endpoint = 'https://aqj7u5id95.execute-api.eu-west-1.amazonaws.com/prod/number_stores'
number_of_stores = extractor.list_number_of_stores(number_of_stores_endpoint,header)

Number of stores: 451

In [4]:
#Extract store data saving as Dataframe
store_endpoint = 'https://aqj7u5id95.execute-api.eu-west-1.amazonaws.com/prod/store_details/'
store_data = extractor.retrieve_stores_data(store_endpoint,number_of_stores,header)
store_data.sample(20)

## Clean store data using DataCleaning class in source code

In [5]:
#Clean store data
clean_store_data = DataCleaning().clean_store_data(store_data)

<class 'pandas.core.frame.DataFrame'>
Index: 448 entries, 0 to 449
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   address        440 non-null    object
 1   longitude      440 non-null    string
 2   locality       440 non-null    object
 3   store_code     440 non-null    string
 4   staff_numbers  448 non-null    int64
 5   opening_date   440 non-null    object
 6   store_type     440 non-null    string
 7   latitude       440 non-null    string
 8   country_code   440 non-null    string
 9   continent      440 non-null    string
dtypes: int64(1), object(3), string(6)
memory usage: 38.5+ KB

In [6]:
#Remove Null rows in cleaned data
clean_store_data.dropna(how='all')
clean_store_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 448 entries, 0 to 449
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   address        440 non-null    object
 1   longitude      440 non-null    string
 2   locality       440 non-null    object
 3   store_code     440 non-null    string
 4   staff_numbers  448 non-null    int64
 5   opening_date   440 non-null    object
 6   store_type     440 non-null    string
 7   latitude       440 non-null    string
 8   country_code   440 non-null    string
 9   continent      440 non-null    string
dtypes: int64(1), object(3), string(6)
memory usage: 38.5+ KB

## Upload to SQL sales DB

In [7]:
#Upload to sales_data DB (SQL)
upload = DatabaseConnector('../db_creds.yaml')
upload.upload_to_db(clean_store_data,'dim_store_details')

448